$hl-color1: rgb(255,255,0);   /*yellow*/
$hl-color2: rgb(100,255,100); /*green*/
$hl-color3: rgb( 60,120,255); /*blue*/
$hl-color4: rgb(180,120,255); /*purple*/
$hl-color5: rgb(255,100,100); /*red*/
$hl-color6: rgb(255,100,100); /*red*/

.annot8-app {
  margin:0px;
  margin-top:0px;
  margin-left:0px;
  padding:0px;
  padding-top:0px;
  padding-left:0px;
}
.annot8-canvas {
  transition: opacity 350ms;
}
.annot8-debug .annot8-canvas-svg {
  border: 2px solid red;
}
.annot8-debug .annot8-canvas-html {
  border: 2px solid blue;
}
@media print
{
  .annot8-canvas-svg,
  .annot8-canvas-html
  {
    display: none !important;
  }
}
.annot8-button {
  font-size: 12pt;
  padding: 8px;
  border-radius: 6px;
  border: 0px;
  background-color: gainsboro;
}
.annot8-toolbar-container {
  width: 99%;
  text-align: center;
}
.annot8-toolbar {
  display: block;
  --padding: 4px;
  --background-color: #c0c0c0;
  transition: opacity 250ms;
}
.annot8-toolbar-inner {
  background-image: linear-gradient(to bottom,#505050,#252525);
  background-repeat: repeat-x;
  display: inline-block;
  border-radius: 5px;
  height: 38px;
  --border: 1px solid red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
.annot8-toolbar-container,
.annot8-toolbar,
.annot8-modal-container {
  border: 2px solid blue;
  min-width: 200px;
}
*/

.annot8-modal-container * {
  font-family: tahoma,arial;
  font-size: 10pt;  
  color: #505050;
}
.annot8-modal-button,
.annot8-modal-button:hover {
  background: transparent;
  border: 0px;
  padding: 6px;
  padding-left: 10px;
  --border: 2px solid red;
}
.annot8-modal-button *{
  fill: #a0a0a0;
}
.annot8-modal-text {
  color: #505050;  
}

.annot8-modal-inner {
  --border: 2px solid red;
}
.annot8-modal-container span.author {
  color: #808080;
  font-size: 8pt; 
}
.annot8-modal-container span.created {
  color: #a0a0a0;
  font-size:8pt; 
}
.annot8-toolbar-button,
.annot8-toolbar-button:hover {
  display: inline-block;
  overflow: hidden;
  background: transparent;
  color: #fff;
  width: 40px;
  height: 38px;
  padding:0px; margin:0px;
  padding-top:4px;
  border: 0px;
  --border:1px solid red;
}
.annot8-toolbar-button,
.annot8-toolbar-button:focus,
.annot8-toolbar-button:hover {
  outline: none;
}
.annot8-toolbar-icon {
  color: #fff;
  fill: #fff;
  --border:1px solid red; 
}

.annot8-ui,
.annot8-disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.annot8-modal-container {
  margin:0px;
  margin-bottom: 8px;
  text-align: left;
}

.annot8-modal-inner {
  display:inline-block;
  max-width: 300px;
  padding: 8px;
  padding-bottom: 2px;
  margin: 0px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.annot8-modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.annot8-modal-body {
    margin: 0px 0;
}

.annot8-modal-body textarea {
  background-color: red;
}

.annot8-modal-body input[type=text],
.annot8-modal-body textarea,
.annot8-modal-body input[type=text]:focus,
.annot8-modal-body textarea:focus {
  outline: none;
  padding:0px;
  border: 0px;
}

.annot8-hl {
  fill-opacity: 0.35;
  fill:$hl-color1;
  opacity: 0.35;
  background-color:$hl-color1;
}
.annot8-hl.annot8-active {
  fill-opacity: 0.7;
  opacity: 0.7;
}

.annot8-toolbar-button[data-tag='tag1'] .annot8-toolbar-icon,
.annot8-tag-tag1 { color: $hl-color1;    fill: $hl-color1;}
.annot8-toolbar-button[data-tag='tag2'] .annot8-toolbar-icon,
.annot8-tag-tag2 { color: $hl-color2;  fill: $hl-color2;}
.annot8-toolbar-button[data-tag='tag3'] .annot8-toolbar-icon,
.annot8-tag-tag3 { color: $hl-color3;  fill: $hl-color3;}
.annot8-toolbar-button[data-tag='tag4'] .annot8-toolbar-icon,
.annot8-tag-tag4 { color: $hl-color4;  fill: $hl-color4;}
.annot8-toolbar-button[data-tag='tag5'] .annot8-toolbar-icon,
.annot8-tag-tag5 { color: $hl-color5;  fill: $hl-color5;}
.annot8-toolbar-button[data-tag='tag6'] .annot8-toolbar-icon,
.annot8-tag-tag6 { color: $hl-color5;  fill: $hl-color5;}

.annot8-hl-tag1 { background-color: $hl-color1; }
.annot8-hl-tag2 { background-color: $hl-color2; }
.annot8-hl-tag3 { background-color: $hl-color3; }
.annot8-hl-tag4 { background-color: $hl-color4; }
.annot8-hl-tag5 { background-color: $hl-color5; }
.annot8-hl-tag6 { background-color: $hl-color6; }

.annot8-hl-tag1 { fill: $hl-color1; }
.annot8-hl-tag2 { fill: $hl-color2; }
.annot8-hl-tag3 { fill: $hl-color3; }
.annot8-hl-tag4 { fill: $hl-color4; }
.annot8-hl-tag5 { fill: $hl-color5; }
.annot8-hl-tag6 { fill: $hl-color6; }

.annot8-hl-tag6 { background-color: transparent; border-bottom:2px solid $hl-color6; }
